<a href="https://colab.research.google.com/github/rshriroop01/Expenses/blob/master/credit2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ipo_stock_2010_2018_v2.csv to ipo_stock_2010_2018_v2.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from patsy import dmatrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import recall_score, precision_score, accuracy_score,fbeta_score
from sklearn.metrics import confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

In [ ]:
df = pd.read_csv('ipo_stock_2010_2018_v2.csv', parse_dates=['Date Priced', 'year'])

In [ ]:
print(df.shape)
df.head()

(834, 26)

                              Company Name Symbol  ...    CEO_pay  CEO_born
0  ANDATEE CHINA MARINE FUEL SERVICES CORP   AMCF  ...        NaN       NaN
1                    GENERAC HOLDINGS INC.   GNRC  ...  2520000.0    1972.0
2                          QUINSTREET, INC   QNST  ...   816150.0    1960.0
3                      TERRENO REALTY CORP   TRNO  ...   799500.0    1961.0
4       PIEDMONT OFFICE REALTY TRUST, INC.    PDM  ...        NaN       NaN

[5 rows x 26 columns]

In [ ]:
df.columns

Index(['Company Name', 'Symbol', 'Market', 'Price', 'Shares', 'Offer Amount',
       'Date Priced', 'employees', 'address', 'US_state', 'descriptions',
       'link_nasdaq', 'year', 'firstday_adjclose', 'firstday_open',
       'inmonth_adjclose', 'inmonth_open', 'inweek_adjclose', 'inweek_open',
       'inyear_adjclose', 'inyear_open', 'sector', 'industry', 'employees2019',
       'CEO_pay', 'CEO_born'],
      dtype='object')

In [ ]:
keep_cols = ['Company Name', 'Price', 'Shares', 'Offer Amount',
       'Date Priced', 'employees', 'US_state', 'firstday_adjclose', 'firstday_open',
       'inmonth_adjclose', 'inweek_adjclose', 'sector', 'CEO_pay', 'CEO_born']

In [ ]:
df = df[keep_cols]

In [ ]:
df['US_state'] = df['US_state'].apply(lambda x: 'foreign' if str(x) == 'nan' else x)

In [ ]:
df['diff_close_inday_2_open_firstday'] = df['firstday_adjclose'] - df['firstday_open']

In [ ]:
df['check_prices'] = df['firstday_open']/df['Price']

In [ ]:
typo_prices = df[(df['check_prices'] > 2) | (df['check_prices'] < -2)][['Company Name', 'Price', 'firstday_open','firstday_adjclose', 'inweek_adjclose']]

In [ ]:
print(typo_prices.shape[0])
typo_prices.head()

47

                               Company Name  ...  inweek_adjclose
7                      SCORPIO TANKERS INC.  ...       120.686592
23  ROADRUNNER TRANSPORTATION SYSTEMS, INC.  ...       348.750000
36                             AMYRIS, INC.  ...       256.049988
43                    DAQO NEW ENERGY CORP.  ...        67.000000
47                      GLOBUS MARITIME LTD  ...       497.734833

[5 rows x 5 columns]

In [ ]:
df = df.drop(typo_prices.index, axis=0)

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.isna().sum()

Company Name                          0
Price                                 1
Shares                                1
Offer Amount                          0
Date Priced                           0
employees                            14
US_state                              0
firstday_adjclose                     0
firstday_open                         0
inmonth_adjclose                      0
inweek_adjclose                       0
sector                               10
CEO_pay                             214
CEO_born                             70
diff_close_inday_2_open_firstday      0
check_prices                          1
dtype: int64

In [ ]:
#drop 1 row where there is no Offer Price
df.drop(df[df.Price.isna()].index, axis=0, inplace=True)

In [ ]:
#drop 14 rows where there are no employees
df.drop(df[df.employees.isna()].index, axis=0, inplace=True)

In [ ]:
#drop 10 rows where there is no sector
df.drop(df[df.sector.isna()].index, axis=0, inplace=True)

In [ ]:
df.isna().sum()

Company Name                          0
Price                                 0
Shares                                0
Offer Amount                          0
Date Priced                           0
employees                             0
US_state                              0
firstday_adjclose                     0
firstday_open                         0
inmonth_adjclose                      0
inweek_adjclose                       0
sector                                0
CEO_pay                             198
CEO_born                             58
diff_close_inday_2_open_firstday      0
check_prices                          0
dtype: int64

In [ ]:
#drop rows where there is no CEO_born
df.drop(df[df.CEO_born.isna()].index, axis=0, inplace=True)

In [ ]:
#drop rows where there is no CEO_pay
df.drop(df[df.CEO_pay.isna()].index, axis=0, inplace=True)

In [ ]:
df['month'] = df['Date Priced'].map(lambda x: x.month)

In [ ]:
df['month'] = df['month'].map({1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug',\
                                  9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'})

In [ ]:
df['weekday'] = df['Date Priced'].dt.dayofweek.map({0:'Mon', 1:'Tue', 2:'Wed', 3:'Thu', 4:'Fri', 5:'Sat', 6:'Sun'})

In [ ]:
df.shape

(565, 18)

In [ ]:
df.head()

                      Company Name  Price  ...  month  weekday
1            GENERAC HOLDINGS INC.   13.0  ...    Feb      Thu
2                  QUINSTREET, INC   15.0  ...    Feb      Thu
3              TERRENO REALTY CORP   20.0  ...    Feb      Wed
6   SS&C TECHNOLOGIES HOLDINGS INC   15.0  ...    Mar      Wed
8  FIRST INTERSTATE BANCSYSTEM INC   14.5  ...    Mar      Wed

[5 rows x 18 columns]

Special condition

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving spy.csv to spy.csv

In [ ]:
sp = pd.read_csv('spy.csv')

In [ ]:
# we need to have our Date values ordered 
#even if it is oredered already, let's do it anyway as a good practice working with dates
sp.sort_values('Date', inplace=True)
sp.reset_index(drop=True, inplace=True)
sp.Date = pd.to_datetime(sp.Date)
sp.head()

        Date         Open         High  ...        Close    Adj Close      Volume
0 2000-01-03  1469.250000  1478.000000  ...  1455.219971  1455.219971   931800000
1 2000-01-04  1455.219971  1455.219971  ...  1399.420044  1399.420044  1009000000
2 2000-01-05  1399.420044  1413.270020  ...  1402.109985  1402.109985  1085500000
3 2000-01-06  1402.109985  1411.900024  ...  1403.449951  1403.449951  1092300000
4 2000-01-07  1403.449951  1441.469971  ...  1441.469971  1441.469971  1225200000

[5 rows x 7 columns]

In [ ]:
def get_week_chg(ipo_dt):
    try: 
        day_ago_idx = sp[sp['Date'] == str(ipo_dt.date())].index[0] - 1
        week_ago_idx = sp[sp['Date'] == str(ipo_dt.date())].index[0] - 8
        chg = (sp.iloc[day_ago_idx]['Close'] - sp.iloc[week_ago_idx]['Close'])/(sp.iloc[week_ago_idx]['Close'])
        return chg * 100
    except:
        print('error', ipo_dt.date())

In [ ]:
df['SP_Week_Chg'] = df['Date Priced'].map(get_week_chg)

In [ ]:
X = dmatrix("Q('Price') + Q('Shares') + Q('Offer Amount') + Q('employees') + \
            Q('sector') + Q('SP_Week_Chg') + Q('CEO_pay') + Q('CEO_born')+ Q('weekday')", data=df, return_type='dataframe')

In [ ]:
X.shape

(565, 22)

In [ ]:
#predict success if IPO's price is more than $1 change on the first trading day
y = df['diff_close_inday_2_open_firstday'].apply(lambda x: 1 if x >= 1 else 0)
print('number of true positives -', y.sum())

number of true positives - 101

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Normalize

In [ ]:
# Initialize a scaler, then apply it to the features
scaler = StandardScaler() # default=(0, 1)
numerical = ["Q('Price')", "Q('Shares')", "Q('Offer Amount')", "Q('employees')", "Q('SP_Week_Chg')", "Q('CEO_pay')","Q('CEO_born')"]

X_train.loc[:, numerical] = scaler.fit_transform(X_train.loc[:, numerical])
X_test.loc[:, numerical] = scaler.fit_transform(X_test.loc[:, numerical])

# Show an example of a record with scaling applied
X_train.head()

     Intercept  ...  Q('CEO_born')
463        1.0  ...      -0.142372
165        1.0  ...       1.046888
294        1.0  ...      -0.406652
1          1.0  ...       1.179028
678        1.0  ...       1.179028

[5 rows x 22 columns]

Model

In [ ]:
clf = LogisticRegression(solver='lbfgs', class_weight='balanced')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
#evaluate the model on hold-out data
print('accuracy score:', clf.score(X_test, y_test))
print('recall score:', recall_score(y_test, y_pred))
print('precision score:', precision_score(y_test, y_pred))
print('F-beta score:', fbeta_score(y_test, y_pred, average='macro', beta=0.1))
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
print('odds_ratio:', (tp/fp)/(fn/tn))

accuracy score: 0.6548672566371682
recall score: 0.6296296296296297
precision score: 0.3695652173913043
F-beta score: 0.6097235272074857
odds_ratio: 3.3413793103448275

AdaBOOST

In [ ]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=43, sampling_strategy=1.0)
oversample = SMOTE()

X_sm, y_sm = oversample.fit_resample(X_train, y_train)
print(X_sm.shape, y_sm.shape)

(756, 22) (756,)

In [ ]:
clf = AdaBoostClassifier(n_estimators=1000, learning_rate=0.05)

clf.fit(X_sm, y_sm)
y_pred = clf.predict(X_test)

#evaluate the model on hold-out data
print('accuracy score:', clf.score(X_test, y_test))
print('recall score:', recall_score(y_test, y_pred))
print('precision score:', precision_score(y_test, y_pred))
print('F-beta score:', fbeta_score(y_test, y_pred, average='macro', beta=0.1))
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
print('odds_ratio:', (tp/fp)/(fn/tn))

accuracy score: 0.7256637168141593
recall score: 0.1111111111111111
precision score: 0.3
F-beta score: 0.5316398976151515
odds_ratio: 1.4107142857142856

In [ ]:
from catboost import CatBoostClassifier
clf_ = CatBoostClassifier()

clf_.fit(X_sm, y_sm)
y_pred = clf_.predict(X_test)

#evaluate the model on hold-out data
print('accuracy score:', clf_.score(X_test, y_test))
print('recall score:', recall_score(y_test, y_pred))
print('precision score:', precision_score(y_test, y_pred))
print('F-beta score:', fbeta_score(y_test, y_pred, average='macro', beta=0.1))
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
print('odds_ratio:', (tp/fp)/(fn/tn))

In [ ]:
importance = clf_.feature_importances_
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

In [ ]:
from sklearn.metrics import roc_curve, roc_auc_score

In [ ]:
r_auc = roc_auc_score(y_test, y_pred)

In [ ]:
print('Random (chance) Prediction: AUROC = %.3f' % (r_auc))
print('Random Forest: AUROC = %.3f' % (rf_auc))
print('Naive Bayes: AUROC = %.3f' % (nb_auc))

In [ ]:
importance = clf.feature_importances_
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

In [ ]:
def create_results_df(X_train, X_test, y_pred, y_test):
    
    results = []
    for idx, chg, ypred, ytrue in zip(y_test.index, df['diff_close_inday_2_open_firstday'][y_test.index], y_pred, y_test):
        if ypred == ytrue:
            results.append([idx, chg, ypred, ytrue, 1])
        else:
            results.append([idx, chg, ypred, ytrue, 0])
    return pd.DataFrame(results, columns=['index', '$_chg', 'predicted', 'actual', 'correct'])

In [ ]:
rf_log = create_results_df(X_train, X_test, y_pred, y_test)

In [ ]:
def return_model_keyresults(results_df):
    summ_pred = results_df[results_df.predicted == 1]['$_chg'].sum()
    mean_pred = results_df[results_df.predicted == 1]['$_chg'].mean()
    total_pred = results_df.predicted.sum()
    
    summ_actual = results_df[results_df.actual == 1]['$_chg'].sum()
    mean_actual = results_df[results_df.actual == 1]['$_chg'].mean()
    total_actual = results_df.actual.sum()
    
    summ_naive = results_df['$_chg'].sum()
    mean_naive = results_df['$_chg'].mean()
    total_naive = len(results_df['$_chg'])
    print('actual successes:', results_df.actual.sum())
    print('predicted successes:', results_df.predicted.sum())
    print('predicted gain: {:0.2f} for {} IPOs -- {:0.2f} per IPO '.format(summ_pred, total_pred, mean_pred))
    print('actual gain: {:0.2f} for {} IPOs -- {:0.2f} per IPO '.format(summ_actual, total_actual, mean_actual))
    print('naive gain: {:0.2f} for {} IPOs -- {:0.2f} per IPO '.format(summ_naive, total_naive, mean_naive))

In [ ]:
return_model_keyresults(rf_log)

actual successes: 27
predicted successes: 46
predicted gain: $37.62 for 46 IPOs -- $0.82 per IPO
actual gain: $85.99 for 27 IPOs -- $3.18 per IPO
naive gain: $-34.09 for 113 IPOs -- $-0.30 per IPO